.App {
  text-align: center;
}

.coin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coin-img {
  width: 50px;
}

.coin-percentRed {
  color: red;
}

.coin-percentGreen {
  color: green;
}
